<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="depth_to_point_cloud"
        args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond _queue_size:=10">
	<remap from="image_rect" to="/object_detection/region_of_interest"/>
	<remap from="camera_info" to="/object_detection/camera_info"/>
	<remap from="points" to="/cutted_points"/>
  </node>
</launch>
